.scheme-light {
    .btn {
        border-color: $gold;
        background: $gold;
        color: black;

        &:hover {
            background: transparent;
            color: $gold;
        }
    }
}

.scheme-dark {
    .btn {
        border-color: $default-text-color;
        background: $default-text-color;
        color: white;

        &:hover {
            background: transparent;
            color: $default-text-color;
        }
    }
}

.btn {
    display: inline-flex;
    align-items: center;
    padding: 0.75em 1em;
    font-weight: bold;
    text-transform: uppercase;
    border-width: 0.125rem;
    border-style: solid;

    &.icon-after {
        i {
            margin-left: 0.5em;
            order: 1;
        }
    }

    &.icon-before {
        i {
            margin-right: 0.5em;
        }
    }

    .btn-label {
        line-height: 1em;
    }

    .fa {
        color: inherit;
    }
}
