/* event calendar */
.em-calendar-wrapper {
    overflow-x: auto;
    table {
        width: 100%;
        min-height: 700px;
        line-height: 1em;
    }

    thead {
        td {
            padding: 10px;
            color: $costa-del-sol;
        }
    }

    tbody {
        vertical-align: top;
        font-weight: 700;

        td {
            width: 14.286%;
            height: 120px;
            color: $costa-del-sol;
        }
    }

    .days-names {
        background-color: $pine-cone;
        height: 30px;
        font-weight: 700;

        td {
            padding: 10px;
            color: white;
            height: auto;
        }
    }

    table.em-calendar td.eventful a,
    table.em-calendar td.eventful-today a {
        color: $default-text-color;
    }

    .table.em-calendar td.eventless-today,
    table.em-calendar td.eventful-today {
        background-color: $gold;

        a {
            color: $default-text-color;
        }
    }
}

/* sidebar events list */
.em-event-list {
    padding: 20px 0;

    .em-event {
        position: relative;
        padding: 5px 0 20px 0;

        &:not(:last-of-type) {
            &:after {
                content: '';
                border-bottom: 1px solid $gray;
                width: 45%;
                @include pos($bottom: 0);

            }
        }
    }

    .em-event-title {
        margin: 0 0 10px 0;

        a {
            background: $dark-gray;
            display: inline-block;
            padding: 5px 10px;
            @include font-size(20px);
            color: white;

            &:hover {
                color: $pomegranate;
            }
        }
    }

    .em-event-date {
        font-weight: 700;
        @include font-size(20);
    }
}

/* single event page */
.em-single-event-page {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;

    @include breakpoint(to-tablet) {
        display: block;
    }

    .event-left {
        flex: 1;
        margin-right: 40px;

        @include breakpoint(to-tablet) {
            margin: 0 0 20px 0;
        }
    }

    .event-right {
        background-color: $pine-cone;
        color: white;
        padding: 0 20px;
        width: 400px;

        @include breakpoint(to-tablet) {
            width: 100%;
            padding: 20px;
        }
    }


    .em-event-title {
        @include font-size(65);
        margin: 0;

        @include breakpoint(to-desktop-sml) {
            @include font-size(60);
        }

        @include breakpoint(to-tablet) {
            @include font-size(50);
        }

        @include breakpoint(to-phablet) {
            @include font-size(40);
        }

        @include breakpoint(mobile) {
            @include font-size(30);
        }
    }

    .em-event-datetime {
        font-weight: 700;
        @include font-size(22);

        @include breakpoint(to-tablet) {
            @include font-size(20);
        }

        @include breakpoint(to-phablet) {
            @include font-size(18);
        }
    }

    .em-event-image {
        margin-top: 20px;
        height: 200px;
        overflow: hidden;
        display: flex;
        align-items: center;

        img {
            width: 100%;
            height: auto;
        }
    }

    .em-event-content {
        padding: 10px 0;
    }

    .booking-form-title {
        text-transform: uppercase;
    }

    .em-booking-form-details {
        float: none;
        width: auto;

        a {
            font-weight: 700;
        }

        input[type="text"], textarea {
            width: 100%;
            padding: 10px;
        }
    }

    .em-booking-login {
        margin: 0;
        border: none;

        a:not([class]) {
            color: white;
        }
    }

    .event-location {
        display: flex;

        @include breakpoint(to-phablet) {
            display: block;
        }
    }

    .location-details {
        flex: 1;
        padding: 40px;
        background-color: $gold;
        @include font-size(24);
        font-weight: 700;
        display: flex;
        align-items: center;

        @include breakpoint(to-tablet) {
            @include font-size(20);
        }

        @include breakpoint(to-phablet) {
            @include font-size(18);
        }

        p {
            margin: 0;
        }

        a:not([class]) {
            color: black;
        }

    }

    input[type="submit"] {
        padding: 10px;
        border: 1px solid $gold;
        background: $gold;
        box-shadow: none;
        font-weight: 700;
        text-transform: uppercase;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        margin: 0 10px 10px 0;

        &:hover {
            background: white;
            border: 1px solid white;
        }
    }

    .em-location-map-container {
        @include breakpoint(to-phablet) {
            margin: 0 auto;
            max-width: 100%;
        }
    }
}
