input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="url"],
input[type="tel"],
input[type="file"],
input[type="search"],
textarea,
select {
    @include placeholder() {
        color: black;
    }

    font-family: inherit;
}

/*form title */
.frm_style_formidable-style.with_frm_style legend + h3,
.frm_style_formidable-style.with_frm_style h3.frm_form_title {
    color: inherit;
    text-transform: uppercase;
    font-family: $font-family-primary;
    letter-spacing: 1.8px;
    padding-bottom: 5px;
}

/* input fields */
.frm_style_formidable-style.with_frm_style input[type=text],
.frm_style_formidable-style.with_frm_style input[type=password],
.frm_style_formidable-style.with_frm_style input[type=email],
.frm_style_formidable-style.with_frm_style input[type=number],
.frm_style_formidable-style.with_frm_style input[type=url],
.frm_style_formidable-style.with_frm_style input[type=tel],
.frm_style_formidable-style.with_frm_style input[type=phone],
.frm_style_formidable-style.with_frm_style input[type=search],
.frm_style_formidable-style.with_frm_style select,
.frm_style_formidable-style.with_frm_style textarea,
.frm_form_fields_style,
.frm_style_formidable-style.with_frm_style .frm_scroll_box .frm_opt_container,
.frm_form_fields_active_style,
.frm_form_fields_error_style,
.frm_style_formidable-style.with_frm_style .chosen-container-multi .chosen-choices,
.frm_style_formidable-style.with_frm_style .chosen-container-single .chosen-single {
    border-radius: 0;
    padding: 20px 10px;
    font-family: $font-family-primary;
    font-weight: 700;
    @include font-size(16);
    color: $default-text-color;

    &::placeholder {
        color: $default-text-color;
    }
}

/* submit button */
.frm_style_formidable-style.with_frm_style .frm_compact .frm_dropzone.dz-clickable .dz-message,
.frm_style_formidable-style.with_frm_style input[type=submit],
.frm_style_formidable-style.with_frm_style .frm_submit input[type=button],
.frm_style_formidable-style.with_frm_style .frm_submit button, .frm_form_submit_style {
    box-shadow: none;
    text-transform: uppercase;
    font-family: $font-family-primary;
    font-weight: 700;
    @include font-size(20);
    border-radius: 0;
    border: 2px solid black;
    background: black;
    color: white;
    transition: all 0.3s ease-in-out;
    padding: 6px 20px;

    &:hover {
        border-color: black;
        background-color: transparent;
        color: black;
    }
}

/* form validation */
.frm_style_formidable-style.with_frm_style .frm_blank_field label,
.frm_style_formidable-style.with_frm_style .frm_error {
    color: $pomegranate;
    margin-top: 5px;
}
