.gallery {
    margin: auto;

    .gallery-item {
        float: left;
        margin-top: 10px;
        text-align: center;
        width: 50%;
    }

    img {
        border: 2px solid #cfcfcf;
    }

    .gallery-caption {
        margin-left: 0;
    }
}
