.row {
    display: flex;
    margin: 0 $gutter-size * -1;

    @include breakpoint(to-tablet) {
        display: block;
    }

    .col {
        padding: 0 $gutter-size;

        @for $i from 1 through 12 {
            &.w#{$i} {
                flex: $i;
            }
        }
    }
}
