.scheme-light {
    .title {
        //border-bottom: 2px solid white;
    }
}

.scheme-dark {
    .title {
        //border-bottom: 2px solid $default-text-color;
    }
}

.title-block {
    text-transform: uppercase;
}

.title {
    display: inline-block;
    line-height: 1em;
    margin-bottom: 0;
    padding-bottom: 10px;
}

.title-large {
    font-size: 2.5rem;
    line-height: 1.2em;

    @include breakpoint(from-desktop) {
        font-size: 3rem;
    }

    @include breakpoint(from-desktop-mid) {
        font-size: 3.5rem;
    }
}

.title-highlighter {
    position: relative;

    &:before {
        content: '';
        position: absolute;
        bottom: -0.25rem;
        left: 0;
        height: 45%;
        background-color: $gold;
        width: 100%;
        z-index: -1;
    }
}
