.columns {
    @include breakpoint(to-phablet) {
        @include font-size(15);
    }

    ul {
        list-style: none;
        padding-left: 1px;
    }

    li {
        position: relative;
        line-height: 1.6em;
        padding-left: 16px;

        &:before {
            content: '\f0da';
            font-family: $font-family-icons;
            font-weight: 700;
            @include pos($left: 0, $top: 3px);
        }
    }
}
