.files {
    margin-top: 20px;

    .files-heading {
        @include font-size(36);
        margin: 2rem 0 1rem 0;
    }

    .files-container {
        display: flex;
        flex-wrap: wrap;
        margin: -10px;

        @include breakpoint(to-phablet) {
            display: block;
        }
    }

    .file {
        font-size: 1.25rem;
        line-height: 1.1em;
        font-weight: 700;
        display: flex;
        align-items: flex-start;
        padding: 15px;
        width: calc(33.3333% - 20px);
        margin: 10px;
        border: 0.125rem solid gold;

        @include breakpoint(to-phablet) {
            width: 100%;
        }

        &:hover {
            color: $pomegranate;
        }

        a {
            margin: 0;
            display: block;
        }

        i {
            font-size: 3rem;
            margin-right: 16px;
        }

        .modified-date {
            @include font-size(14);
        }
    }
}
