.image-links {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 30px 0 0 0;

    @include breakpoint(to-phablet) {
        display: block;
    }


    .link {
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        height: 240px;
        flex: 1;
        min-width: 300px;
        max-width: calc(50% - 40px);
        position: relative;
        transition: all 0.3s ease-in-out;
        margin: 0 40px 40px 0;

        @include breakpoint(to-tablet) {
            margin: 10px;
            max-width: 100%;
            min-width: auto;
        }

        @include breakpoint(mobile) {
            margin: 10px 0;
        }



        &:before {
            content: '';
            @include pos($top: 158px)
            border-bottom: 2px solid $gold;
            width: 100px;
            display: inline-block;
            margin-right: 30px;
            z-index: 1;
        }

        &:after {
            content: '';
            @include pos($left: 90px, $top: 149px);
            border: 2px solid $gold;
            @include box(20);
            z-index: 1;
        }


        a {
            display: block;
            width: 100%;
            height: 100%;
            color: white;

            &:after {
                content: '';
                background-color: black;
                @include pos();
                width: 100%;
                height: 100%;
                z-index: 0;
                opacity: 0;
                transition: all 0.3s ease-in-out;
            }

            &:hover {
                color: $gold;

                &:after {
                    opacity: 0.3;
                }
            }
        }

        .label {
            @include pos($top: 143px, $left: 120px);
            @include font-size(22);
            font-weight: 700;
            z-index: 2;
        }
    }
}
