.newsletter {
    .inner {
        display: flex;

        @include breakpoint(to-tablet) {
            display: block;
        }
    }

    .newsletter-signup {
        flex: 3;

        > p {
            margin: 10px 0 0 0;
        }

        form {
            position: relative;
            display: inline-block;
            margin: 0;
            width: 100%;
        }

        input[type="email"] {
            border: 3px solid $costa-del-sol;
            padding: 20px;
            width: 100%;
            color: $costa-del-sol;
            padding-right: 140px;

            @include placeholder() {
                color: $costa-del-sol;
                font-weight: 700;
                text-transform: uppercase;
            }

        }

        .submit {
            @include pos($right: 0, $top: 3px);
            background: transparent;
            box-shadow: none;
            border: none;
            padding: 11px 18px 11px 13px;
            color: $costa-del-sol;
            cursor: pointer;
            text-transform: uppercase;
            font-weight: 700;
            transition: all 0.3s ease-in-out;
            border-left: 2px solid $costa-del-sol;

            &:hover {
                color: $pomegranate;
            }

            &:after {
                content: '\f152';
                font-family: $font-family-icons;
                padding-left: 5px;
            }
        }
    }

    .newsletter-archive {
        flex: 1;

        h4 {
            text-transform: uppercase;
        }

        a {
            padding-bottom: 10px;
            text-transform: uppercase;
            font-weight: 700;
            display: block;

            &:hover {
                color: $pomegranate;
            }
        }
    }

    .frm_style_formidable-style.with_frm_style .frm_form_fields > fieldset {
        padding: 0;
    }

    .frm_style_formidable-style.with_frm_style .form-field {
        margin-bottom: 0;
    }
}
