.staff-member {
    display: flex;
    align-items: center;
    border: 4px solid #231F20;
    padding: 40px 40px 50px 40px;
    border-radius: 30px;
    position: relative;
    overflow: hidden;

    @include breakpoint(to-phablet) {
        padding: 10px 20px 50px 20px;
    }

    .staff-photo {
        @include circle(220);
        overflow: hidden;

        img {
            width: 100%;
        }

        @include breakpoint(to-phablet) {
            display: none;
        }
    }

    .staff-details {
        padding-left: 40px;
        font-weight: 700;
        flex: 1;

        @include breakpoint(to-phablet) {
            padding: 0;
        }
    }

    .details-inner {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        & > div:not(:last-child) {
            padding-right: 30px;
        }
    }

    .title {
        @include font-size(18);
        background-color: #231F20;
        color: white;
        padding: 10px 20px;
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    .staff-name {
        @include font-size(44);

        @include breakpoint(to-tablet) {
            @include font-size(40);
        }

        @include breakpoint(to-phablet) {
            @include font-size(32);
        }
    }

    .staff-jobtitle {
        @include font-size(20);
        margin-bottom: 15px;
    }

    .staff-email,
    .staff-phone {
        @include font-size(17);
        padding: 5px 0;
    }

    .btn-contact {
        @include pos($bottom: 0, $right: 0);
        background-color: $gold;
        padding: 10px 30px;
        @include font-size(20);
        font-weight: 700;
        text-transform: uppercase;

        @include breakpoint(to-phablet) {
            @include font-size(18);
        }

        @include breakpoint(mobile) {
            @include font-size(16);
        }
    }

    a:hover {
        color: $pomegranate;
    }
}
