.staff-grid {
    .title {
        font-size: 3rem;
        margin-bottom: 1rem;
    }

    .staff-details {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -0.125rem;
    }

    .details-inner {
        background: #e0e0e0;
        padding: 0.75rem 1.25rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0.125rem;
        width: 100%;

        @include breakpoint(from-desktop-mid) {
            width: calc(33.3333% - 0.25rem);
        }
    }

    .staff-name {
        font-size: 1.25rem;
        font-weight: 700;
        margin-bottom: 0.25rem;
    }

    a {
        display: inline-block;
        width: 2rem;
        height: 2rem;
        line-height: 2rem;
        background: white;
        border-radius: 99rem;
        text-align: center;
    }
}
