.title-block {
    .title {
        @include font-size(75);
        text-transform: none;

        @include breakpoint(to-tablet) {
            @include font-size(60);
        }

        @include breakpoint(to-phablet) {
            @include font-size(45);
        }

        @include breakpoint(mobile) {
            @include font-size(35);
        }
    }
}
