/* Flexible Field Label */
.acf-flexible-content .layout {
    &.disabled {
        .acf-fc-layout-handle {
            background: #b91010;
        }
    }

    &.scheduled {
        .acf-fc-layout-handle {
            background: rgb(131, 131, 131);
        }
    }

    .acf-fc-layout-handle {
        background: #32373c;
        color: #fff;
    }

    .fc-layout-order {
        margin: 0 10px 0 0;
    }

    .acf-fc-layout-controlls {
        .acf-icon.-collapse:hover {
            background: #b4b9be;
            color: white;
        }

        .acf-icon.-promote:before {
            content: '\f091';
            font-family: $font-family-icons;
            @include font-size(13px);
        }

        .acf-icon.-visit:before {
            content: '\f1b2';
            font-family: $font-family-icons;
            @include font-size(13px);
        }

        .acf-icon.-loading:before {
            content: '\f110';
            font-family: $font-family-icons;
            @include font-size(13px);
        }
    }
}

/* Repeater Field Handle Colours */
.acf-repeater .acf-row:nth-child(odd) > .acf-row-handle.order {
	background: rgb(131, 131, 131);
}
.acf-repeater .acf-row:nth-child(even) > .acf-row-handle.order {
	background: #23282d;
}

/* Fixed Publish Button */
#side-sortables {
	position: relative;
}
#side-sortables .spacer {
	margin-bottom: 20px;
	display: none;
}
#side-sortables.fixed .spacer {
	display: block;
}
#side-sortables.fixed #submitdiv {
	position: fixed;
	width: 278px;
	top: 32px;
	right: 20px;
	z-index: 999;
}
#side-sortables .yoast-seo-score {
    display: none;
}

/* ACF Widget Fields */
.widget-content .acf-field:nth-child(2) {
	padding-top: 15px;
}

/* Widget Column */
.fixed .column-type,
.fixed .column-preset {
    width: 15%;
}

/* Menu Icons */
a.menu-icon-widget div.wp-menu-image:before {
    content: "\f1b2";
    font-family: $font-family-icons;
    font-size: 18px;
}

a.menu-icon-layout div.wp-menu-image:before {
    content: "\f1b3";
    font-family: $font-family-icons;
    font-size: 16px;
}

a.menu-icon-banner div.wp-menu-image:before {
    content: "\f024";
    font-family: $font-family-icons;
    font-size: 16px;
}

a.toplevel_page_acf-options-theme-settings div.wp-menu-image:before {
    content: "\f0ac";
    font-family: $font-family-icons;
    font-size: 20px;
}

/* Assigned Preset */
.field-assigned {
    font-style: italic;
    color: red;
    display: block;
}

/* ACF Select Fields < 5.6 */
.acf-input .select2-container .select2-choice {
    border-radius: 0;
    border: 1px solid #ddd;
    background: white;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.07);

    .select2-arrow {
        border: none;
        border-radius: 0;
        background: transparent;
    }
}

/* ACF Select Field >= 5.6 */
.acf-input .select2-container--default .select2-selection--single,
.acf-input .select2-container--default .select2-selection--multiple {
    border-radius: 0;
    border: 1px solid #ddd;
    background: white;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
}

.page-list {
    list-style: disc;
    padding: 0 0 0 30px;
    margin: 0;
}

.acf-field-594883992f7ec .acf-label {
    display: none;
}

/* ACF field collapse */
.acf-field-count {
    font-weight: bold;
}
