.posts-listing {
    h2 {
        font-size: 1.75rem;
        margin-bottom: 0;
    }

    .post:not(:first-child) {
        margin-top: 3rem;
    }

    .posted {
        border-bottom: 0.125rem solid $pine-cone;
        line-height: 1rem;
        padding: 0.75rem 0;
        display: flex;
        justify-content: space-between;
    }

    .categories a {
        color: black;
    }

    .read-more a {
        background-color: $gold;
        border: 2px solid $gold;
        display: inline-block;
        padding: 10px 20px;
        transition: all 0.3s ease-in-out;

        &:hover {
            color: $gold;
            background-color: transparent;
        }
    }

    .pagination {
        display: flex;
        justify-content: flex-end;
        margin-top: 1.5rem;
    }
}

.posts-sidebar {
    background-color: $pine-cone;
    color: white;
    padding: 1px 20px 20px 20px !important;

    h3 {
        color: white;
        margin-bottom: 20px;
        position: relative;
        border-bottom: 1px solid $gray;
        display: block;
        padding: 10px 0 15px 0;

        &:after {
            content: '';
            width: 150px;
            border-bottom: 5px solid $gold;
            @include pos($bottom: -5px);
        }
    }

    ul {
        margin: 0;
        padding-left: 1.25rem;
        list-style: none;
    }

    li {
        position: relative;
        line-height: 1.6em;

        &:before {
            content: '\f0da';
            font-family: $font-family-icons;
            font-weight: 700;
            @include pos($left: -18px);
        }
    }

    & a:not([class]) {
        color: white;

        &:hover {
            color: $pomegranate;
        }
    }

    .title-block:not(:first-child) {
        margin-top: 1.5rem;
    }
}

.content-with-sidebar.single-post .content {
    .title-block .title {
        @include font-size(40);
    }

    .post-meta {
        background: $pine-cone;
        color: white;
        padding: 10px;
        margin-top: 10px;
        font-weight: 700;
        display: flex;
        justify-content: space-between;
    }
}
