.footer {
    padding: $block-padding;
    background: url(img/content-bg.jpg) center center no-repeat $pine-cone;
    background-size: cover;
    color: white;

    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    .logo {
        width: 250px;
        margin-right: 30px;

        @include breakpoint(to-tablet) {
            margin: 10px 20px;
        }
    }

    .iso-logo {
        margin-left: 30px;

        @include breakpoint(from-desktop-mid) {
            order: 2;
        }

        @include breakpoint(to-tablet) {
            margin: 10px 20px;
        }
    }

    .inner {
        flex: 1;
        min-width: 700px;
        margin-top: 20px;

        @include breakpoint(to-tablet) {
            min-width: 100%;
        }
    }

    .menu {
        padding: 1rem 0;
        font-size: 0.8rem;
        display: flex;
        justify-content: space-between;
        @include font-size(20);
        text-transform: uppercase;
        font-weight: 700;
        border-bottom: 1px solid white;

        @include breakpoint(to-tablet) {
            display: block;
        }
    }

    .menu-item {
        padding: 0 0.75rem;

        @include breakpoint(to-tablet) {
            padding: 0.25rem 0;
        }

        &:first-child {
            padding-left: 0;
        }

        &:hover {
            color: $pomegranate;
        }
    }

    .contact {
        padding: 15px 0;
        display: flex;
        justify-content: space-between;

        @include breakpoint(to-tablet) {
            display: block;
        }

        & > * {
            margin: 0 15px;

            @include breakpoint(to-tablet) {
                margin: 5px 0;
            }

            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                margin-right: 0;
            }
        }

        a:hover {
            color: $pomegranate;
        }

        .btn-yellow {
            background-color: $gold;
            padding: 8px 16px;
            color: black;
            text-transform: uppercase;
            font-weight: 700;
            @include font-size(16);
            border: 1px solid $gold;
            white-space: nowrap;
            display: inline-block;

            i {
                color: black;
                transition: all 0.3s ease-in-out;
                margin-left: 5px;
            }

            &:hover {
                background-color: transparent;
                color: $gold;

                i {
                    color: $gold;
                }
            }
        }
    }

    .phone {
        .label {
            font-weight: bold;
            text-transform: uppercase;
        }

        span[itemprop="telephone"],
        span[itemprop="faxNumber"] {
            white-space: nowrap;
        }
    }
}
