.header {
    padding: $block-padding;
    @include pos();
    z-index: 4;
    width: 100%;

    @include breakpoint(to-tablet) {
        padding: 10px 0;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        @include breakpoint(desktop-sml) {
            justify-content: center;
        }
    }

    .navigation {
        flex: 1;

        @include breakpoint(to-tablet) {
            display: none;
        }
    }

    .secondary {
        @include breakpoint(to-tablet) {
            display: none;
        }
    }

    .menu {
        display: flex;
        font-weight: 700;
        @include font-size(18);
        text-transform: uppercase;

        > li:not(:first-child) {
            border-left: 2px solid black;
        }
    }

    .sub-menu {
        @include pos($top: 100%, $left: -2px);
        background-color: rgba(0,0,0,0.8);
        color: white;
        white-space: nowrap;
        height: 0;
        overflow: hidden;
        text-transform: none;

        &.open {
            height: auto;
            padding: 10px 0;
        }
    }

    .menu-item {
        padding: 0 1rem;
        position: relative;

        @include breakpoint(to-desktop-sml) {
            padding: 0 0.625rem;
        }

        &.current-menu-item a,
        &.current_page_parent a {
            padding-bottom: 5px;
            border-bottom: 3px solid $pomegranate;
        }

        &.current_page_parent .sub-menu .menu-item:not(.current-menu-item) a,
        &.current-menu-item .sub-menu .menu-item:not(.current-menu-item) a {
            border-bottom: none;
        }

        &.btn {
            border: none;
            padding: 0;

            a {
                background-color: $pomegranate;
                border: 2px solid $pomegranate;
                border-radius: 0;
                color: white;
                transition: background 0.3s ease-in-out;
                padding: 5px 10px;
                transition: all 0.3s ease-in-out;

                &:hover {
                    background: transparent;
                    color: $pomegranate;
                }
            }
        }

        &.search-btn a {
            display: block;
            color: white;
            background-color: black;
            border-radius: 13px;
            @include font-size(14);
            @include circle(25px);
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
                background-color: $pomegranate;
            }
        }

        .sub-menu {
            .menu-item {
                padding: 5px 1rem;
            }
        }
    }

    a:hover {
        color: $pomegranate;
    }

    .mobile-nav-toggle {
        background-color: $dark-gray;
        color: white;
        padding: 5px 10px;
        @include font-size(22);
        text-transform: uppercase;
        font-weight: 400;
        cursor: pointer;

        @include breakpoint(from-desktop-sml) {
            display: none;
        }
    }
}

body.page-template-page_home {
    .header {
        @include breakpoint(from-desktop-sml) {
            padding-top: 5rem;
        }
    }
}

body:not(.page-template-page_home) {
    .header {
        position: relative;
    }
}

.mobile-nav {
    position: fixed;
    top: 0;
    left: -320px;
    width: 320px;
    height: 100vh;
    font-weight: 700;
    background-color: $pine-cone;
    padding: 10px;
    color: white;
    overflow-y: auto;
    z-index: 5000;
    transition: all 0.3s ease-in-out;

    &.open {
        left: 0;
    }

    .sub-menu {
        padding-left: 20px;
    }

    li {

        a {
            display: inline-block;
            padding: 15px 10px;
            position: relative;

            &:after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 10px;
                border-bottom: 1px solid $gold;
                width: 60px;
            }
        }



        &.btn {
            border: none;
            text-transform: none;
            padding: 0;
        }
    }

    .phone-number {
        color: white;
        margin-top: 30px;
        font-weight: 400;

        border-bottom: 1px solid white;
        padding: 0 0 15px 10px;

        span {
            color: white;
            font-weight: 700;
        }
    }

    .email {
        color: white;
        font-weight: 400;
        padding: 10px 0 0 10px;
    }
}

.mobile-nav-top {
    display: flex;
    align-items: center;
}

.close-btn {
    padding-left: 10px;
    @include font-size(24);
    cursor: pointer;
}

.search-container {
    position: relative;

    @include breakpoint(to-tablet) {
        display: none;
    }
}

.searchform {
    background-color: black;
    @include font-size(20);
    border-radius: 20px;
    @include font-size(14);
    display: flex;
    justify-content: center;
    @include pos($right: 0);
    transition: all 0.3s ease-in-out;
    opacity: 0;
    z-index: 10;
    width: 0;
    overflow: hidden;

    &.open {
        opacity: 1;
        width: 300px;
    }

    .screen-reader-text {
        display: none;
    }

    .search-field {
        padding: 10px 10px 10px 20px;
        background-color: transparent;
        border: none;
        color: white;
        flex: 1;


        &::placeholder {
            color: white;
        }
    }

    .btn-search,
    .btn-close {
        @include font-size(20);
        background-color: transparent;
        color: white;
        border: none;
        cursor: pointer;
        padding: 5px 7px;

        &:hover {
            color: $pomegranate;
        }
    }

    .btn-close {
        padding-right: 10px;
    }

    .btn-search {
        overflow: hidden;
        order: 1;
    }
}

.search-toggle {
    @include font-size(20);
    background-color: black;
    border-radius: 20px;
    color: white;
    border: none;
    cursor: pointer;
    padding: 5px 7px;
    margin-left: 10px;
    opacity: 1;
    transition: all 0.3s ease-in-out;

    &:hover {
        color: $pomegranate;
    }

    &.open {
        opacity: 0;
    }
}

.mobile-search {
    width: 100%;
    display: flex;

    input {
        flex: 1;
        padding: 7px 10px;
        border: none;
        box-shadow: none;
        background-color: black;
        color: white;
        border-radius: 15px 0 0 15px;

        &::placeholder {
            color: white;
        }
    }
    button {
        border-radius: 0 15px 15px 0;
        background-color: black;
        color: white;
        border: none;
        padding-right: 10px;
        cursor: pointer;
    }
}
