.career-table {
    border-spacing: 0;

    th {
        font-size: 1.125rem;
        text-align: left;
        background: #EE3124;
        color: white;
        padding: 0.75rem 1rem;
    }

    tr:nth-child(even) {
        background: #f2f2f2;
    }

    td {
        padding: 0.5rem 1rem;
    }
}

.sjb-container {
    padding: 2rem 0;
}

.sjb-page .sjb-archive-page h3 .job-title {
    @include font-size(45);
}

.sjb-page .sjb-detail .list-data h3 .job-title {
    @include font-size(35);
    display: block;
    margin-bottom: 30px;
    border-bottom: 1px solid $gray;
    position: relative;
    padding: 10px 0;

    &:after {
        content: '';
        width: 100px;
        border-bottom: 5px solid $gold;
        @include pos($bottom: -5px);
    }

    @include font-size(25);
}


.sjb-page .list-data .job-info h4 .job-title {
    @include font-size(25);
    display: block;
    margin-bottom: 30px;
    border-bottom: 1px solid $gray;
    position: relative;
    padding: 10px 0;

    &:after {
        content: '';
        width: 100px;
        border-bottom: 5px solid $gold;
        @include pos($bottom: -5px);
    }
}

.sjb-page .btn-primary,
.sjb-page .btn-primary:hover,
.sjb-page .btn-primary:active:hover,
.sjb-page .btn-primary:active:focus,
.sjb-page .sjb-detail .jobpost-form .file div,
.sjb-page .sjb-detail .jobpost-form .file:hover div {
    font-weight: 700;
}

/*
* menu hack to fix news menu item highlighted on single job page
 */

.single-jobpost .header,
.post-type-archive-jobpost .header {
    .menu-item-20.current_page_parent a {
        border-bottom: none;
    }

    .menu-item-500 a {
        padding-bottom: 5px;
        border-bottom: 3px solid $pomegranate;
    }
}
