.search-results {

    .title {
        @include font-size(45);
        border-bottom: 1px solid $gray;
        position: relative;
        margin-bottom: 20px;

        &:after {
            content: '';
            width: 150px;
            border-bottom: 5px solid $gold;
            @include pos($bottom: -5px);
        }
    }

    .read-more a {
        background-color: $gold;
        border: 2px solid $gold;
        display: inline-block;
        padding: 10px 20px;
        transition: all 0.3s ease-in-out;
        color: $default-text-color;
        min-width: 150px;

        &:hover {
            color: $gold;
            background-color: transparent;
        }
    }

    article {
        border: none;
        margin: 20px 0;
        padding: 0;

        .post-title {
            display: flex;
            align-items: center;
            padding-right: 20px;

            @include breakpoint(to-phablet) {
                padding-right: 0;
            }
        }

        .post-type {
            margin: 0 20px;
        }

        .post-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: $pine-cone;
            color: white;
            padding: 0 20px;

            @include breakpoint(to-phablet) {
                display: block;
                padding-bottom: 10px;
            }
        }

        .excerpt {
            padding: 0 20px;
        }
    }
}
