.topbar {
    background: #65574d;
    color: white;
    display: none;
    position: relative;
    z-index: 20;

    @include breakpoint(from-desktop-sml) {
        display: block;
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .social {
        @include breakpoint(from-desktop-mid) {
            padding-left: 9px;
        }

        a {
            margin-left: 0.625rem;
        }
    }

    .btn {
        border: none;
        padding: 0;

        &.btn-red a {
            background: #EE3124;
            border-color: #EE3124;

            &:hover {
                background: darker(#EE3124, 15%);
            }
        }

        &.btn-yellow a {
            background: #FFD200;
            border-color: #FFD200;

            &:hover {
                background: darker(#FFD200, 15%);
            }
        }

        &.btn-black a {
            background: #000000;
            border-color: #000000;
        }

        a {
            border: 2px solid transparent;
            border-radius: 0;
            color: white;
            transition: background 0.3s ease-in-out;
            padding: 10px 16px;
            transition: all 0.3s ease-in-out;
        }
    }

    .menu {
        display: flex;
        align-items: center;

        .menu-item:not(.btn) {
            margin-right: 1rem;
        }
    }
}
