.em.em-calendar.size-small .em-cal-body .em-cal-day .em-cal-event,.em.em-calendar.size-small .em-cal-body .em-cal-day .em-cal-event {
    display: block  !important;
}

.em.em-calendar.size-medium .em-cal-body .em-cal-day, .em.em-calendar.size-small .em-cal-body .em-cal-day {
    display: unset;
}

.em.em-calendar.size-small .em-cal-body {
    .eventful {
    
        &.em-cal-day .em-cal-event > div{
            width: 100%;
            left: unset;
        }
    }
}