.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-small {
    font-size: 0.8em;
}

.text-normal {
    font-size: 1em;
}

.text-medium {
    font-size: 1.2em;
}

.text-large {
    font-size: 1.2em;

    @include breakpoint(from-desktop) {
        font-size: 1.3em;
    }

    @include breakpoint(from-desktop-mid) {
        font-size: 1.4em;
    }
}

.text-xlarge {
    font-size: 1.4em;

    @include breakpoint(from-desktop) {
        font-size: 1.5em;
    }

    @include breakpoint(from-desktop-mid) {
        font-size: 1.6em;
    }
}

.text-2xlarge {
    font-size: 1.6em;

    @include breakpoint(from-desktop) {
        font-size: 1.7em;
    }

    @include breakpoint(from-desktop-mid) {
        font-size: 1.8em;
    }
}

.text-3xlarge {
    font-size: 2em;
}

.text-green {
    color: $costa-del-sol;
}

.text-yellow {
    color: $gold;
}

.line-none {
    line-height: 1;
}

.line-small {
    line-height: 1.2;
}

.line-normal {
    line-height: 1.4;
}

.line-medium {
    line-height: 1.4;

    @include breakpoint(from-desktop) {
        line-height: 1.5;
    }

    @include breakpoint(from-desktop-mid) {
        line-height: 1.6;
    }
}

.line-large {
    line-height: 1.6;

    @include breakpoint(from-desktop) {
        line-height: 1.7;
    }

    @include breakpoint(from-desktop-mid) {
        line-height: 1.8;
    }
}
