html,
button,
input,
select,
textarea {
    color: $default-text-color;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

.body-wrap {
    height: 100vh;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

strong {
    font-weight: bold;
}

img {
    vertical-align: middle;
    max-width: 100%;
    height: auto;

    &.alignright {
        float: right;
        margin-left: 15px;
    }

    &.alignleft {
        float: left;
        margin-right: 15px;
    }

    &.aligncenter {
        display: block;
        margin: 0 auto;
    }
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

nav ul {
    @include lireset();
}

a {
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    color: inherit;
}

input[type="search"],
*,
*:before,
*:after {
    box-sizing: border-box;
}

.container {
    width: $max-width;
    margin: 0 auto;
    position: relative;
    z-index: 3;

    @include breakpoint(to-desktop-mid) {
        width: 1200px;
    }

    @include breakpoint(to-desktop-sml) {
        width: 960px;
    }

    @include breakpoint(to-tablet) {
        width: 720px;
    }

    @include breakpoint(to-phablet) {
        width: 100%;
        padding: 0 1.25rem;
    }
}

.overlay {
    @include cover();
    z-index: 2;
}

.background-wrap {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    z-index: 2;

    span {
        padding: 2px 4px;
        position: relative;

        &:before {
            content: '';
            position: absolute;
            top: -2px;
            left: -4px;
            width: calc(100% + 8px);
            height: calc(100% + 4px);
            background: black;
            z-index: -1;
        }
    }
}

.overflow-hidden {
    overflow: hidden;
}

.columns2 {
    columns: 2;

    @include breakpoint(to-phablet) {
        columns: 1;
    }
}

.columns3 {
    columns: 3;

    @include breakpoint(to-tablet) {
        columns: 2;
    }

    @include breakpoint(to-phablet) {
        columns: 1;
    }
}

.main-content a:not([class]) {
    color: $pomegranate;

    &:hover {
        color: darken($pomegranate, 10%);
    }
}
