body {
    font-family: $font-family-primary;
    font-feature-settings: "liga" 0;
}

@include headings() {
    margin: 1rem 0;
    line-height: 1.2em;
    font-family: $font-family-heading;
}

p {
    margin: 1rem 0;
}

h1 {
    @include font-size(40px);
}

h2 {
    @include font-size(32px);
}

h3 {
    @include font-size(28px);
}

h4 {
    @include font-size(24px);
}

h5 {
    @include font-size(20px);
}

h6 {
    @include font-size(18px);
}
