.accent-image {
    background-size: cover;

    .container {
        display: flex;
        align-items: center;

        @include breakpoint(to-phablet) {
            display: block;
        }
    }

    .title {
        @include font-size(60);
        text-transform: none;

        @include breakpoint(to-tablet) {
            @include font-size(50);
        }

        @include breakpoint(to-phablet) {
            @include font-size(40);
        }
    }

    @include breakpoint(from-tablet) {
        &.align-right {
            .accent {
                order: 1;
                padding-right: 0;
            }

            .content {
                padding-left: 0;
            }
        }

        &.align-left {
            .accent {
                padding-left: 0;
            }

            .content {
                padding-right: 0;
            }
        }
    }

    &.align-bottom {
        .accent {
            padding-top: 3rem;
            padding-bottom: 0;
            align-self: flex-end;
        }
    }

    .content,
    .accent {
        padding: 3rem $gutter-size;

        @include breakpoint(to-phablet) {
            padding: 2rem 0;
        }
    }

    .content {
        width: 66.6666%;

        @include breakpoint(to-phablet) {
            width: 100%;
            @include font-size(15);
            padding-top: 0.5rem;
        }
    }

    .accent {
        width: 33.3333%;
        text-align: center;

        @include breakpoint(to-phablet) {
            width: 100%;
        }

        img {
            @include breakpoint(to-phablet) {
                max-width: 60%;
            }
        }
    }

    .btns {
        padding-top: 20px;
    }
}
