.accordion {
    margin: 1.5rem 0;
    background-size: cover;

    &.all-staff {
        .item-heading {
            padding: 16px 24px;
            font-size: 1.25rem;

            i {
                font-size: 1.75rem;
            }
        }

        .item-content {
            padding: 0 0 16px 0;
        }
    }

    .title-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .collapse-all {
        @include font-size(24);
        padding: 0 20px;
        cursor: pointer;
    }

    .title {
        text-transform: none;
    }

    .item-heading {
        display: flex;
        justify-content: space-between;
        background-color: $gold;
        margin: 2px 0;
        padding: 10px 20px;
        font-weight: 700;
        @include font-size(18);
        cursor: pointer;

        i {
            @include font-size(24);
            transition: transform 0.3s ease-in-out;
        }

        &.active {
            i {
                transform: rotate(180deg);
            }
        }
    }

    .item-content {
        padding: 10px;
        position: relative;

        a:hover {
            color: $pomegranate;
        }

        &.item-hidden{
            height: 0;
            overflow: hidden;
            padding-top: 0;
            padding-bottom: 0;
        }
    }
}
