.articles {
    padding: $block-padding;
    background-size: cover;

    .title {
        text-transform: none;
        padding-bottom: 20px;
        margin-top: 0;
    }

    .articles-list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .article {
        width: calc(25% - 40px);
        border: 2px solid $gold;
        margin: 20px 20px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;

        @include breakpoint(to-tablet) {
            width: calc(50% - 40PX);
        }

        @include breakpoint(to-phablet) {
            width: 100%;
            margin: 10px 0;
        }

        @include breakpoint(from-desktop-sml) {
            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                margin-right: 0;
            }
        }

        h4 {
            @include font-size(23);
            margin-top: 0;
        }

        .read-more {
            margin-top: 10px;

            a {
                @include font-size(16);
                text-transform: uppercase;
                font-weight: 700;
                background-color: black;
                border: 2px solid black;
                color: white;
                padding: 5px 20px;
                display: block;

                &:hover {
                    color: black;
                    background-color: transparent;
                }
            }
        }
    }
}
