.cards {
    padding: $block-padding;
    background-size: cover;

    .items {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0 -10px;

        @include breakpoint(to-phablet) {
            margin: 0;
        }

        @for $i from 1 through 6 {
            &.x#{$i} {
                $width: 100% / $i;

                .item {
                    width: calc(#{$width} - 20px);

                    @include breakpoint(to-desktop-sml) {
                        width: calc(50% - 20px);
                    }

                    @include breakpoint(to-phablet) {
                        width: 100%;
                        margin: 10px 0;
                        border-left: none;
                        border-right: none;
                    }
                }
            }
        }
    }

    .item {
        margin: 10px;
        background: #ee3124;
        color: white;

        a {
            display: block
        }

        .label {
            @include font-size(22);
            font-weight: 700;
            margin-top: 0;
        }

        &:hover {
            .read-more {
                background-color: $pomegranate;
            }
        }
    }

    .item-thumbnail {
        width: 100%;
        height: 200px;
        background-size: cover;
        background-position: center center;
    }

    .item-lower {
        padding: 20px;
    }

    .read-more {
        background: black;
        display: inline-block;
        padding: 5px 10px;
        transition: all 0.3s ease-in-out;
    }

}
