.column-block {
    padding: $block-padding;
    background-size: cover;

    &.scheme-light {
        .title {
            border-color: white;
        }
    }

    &.scheme-dark {
        .title {
            border-color: black;
        }
    }

    .title {
        border-bottom: 1px solid;
        display: block;
        text-transform: none;
        @include font-size(42);
        padding-bottom: 20px;
        margin-bottom: 20px;

        @include breakpoint(to-tablet) {
            @include font-size(36);
        }
    }
}
