.combo {
    background-repeat: no-repeat;
    background-size: 100% auto;
    padding: 0.5rem 0 2rem 0;

    &.bg-pos-center {
        background-size: cover;
    }

    &.contain-nested-backgrounds {
        > .container > [style*="background-"] > .container {
            padding: 0.5rem 1.5rem;
        }

        > .container > * {
            padding: 0;
            margin-top: 1.5rem;
        }
    }

    > *:not(.overlay) {
        position: relative;
        padding: 0;
        margin-top: 1.5rem;
    }
}
