.content-grid {
    padding: $block-padding;
    background-size: cover;

    .items {
        text-align: center;

        @include breakpoint(from-tablet) {
            display: flex;

            &:not(:first-child) {
                padding-top: 2rem;
            }
        }
    }

    .item {
        padding: 0 $gutter-size;
        flex: 1;
    }

    .thumbnail {
        display: block;
        margin: 0 auto $gutter-size auto;
        @include circle(300px);
    }

    .label {
        font-weight: 700;
        text-transform: uppercase;
        font-size: 1.125rem;
    }
}
