.content-with-sidebar {
    padding: $block-padding;
    background-size: cover;

    .container {
        display: flex;

        @include breakpoint(to-tablet) {
            display: block;
        }
    }
    @include breakpoint(from-desktop-sml) {
        &.side-left {
            .sidebar {
                order: -1;
                padding-left: 0;
            }

            .content {
                padding-right: 0;
            }
        }

        &.side-right {
            .sidebar {
                padding-right: 0;
            }

            .content {
                padding-left: 0;
            }
        }

        &.sidebar-wide {
            .content {
                flex: 8;
            }

            .sidebar {
                flex: 4;
            }
        }
    }

    &.side-hidden {
        .sidebar {
            display: none;
        }

        .content {
            padding: 0;
        }
    }

    &.sidebar-dark {
        .sidebar > * {
            background-color: $pine-cone;
            color: white;
        }
    }

    .content,
    .sidebar {
        padding: 0 $gutter-size;

        @include breakpoint(to-phablet) {
            padding: 0;
        }
    }

    /**
     * Content Blocks
     */
    .content {
        flex: 9;

        @import "content/title";
        @import "content/editor";
        @import "content/events";
        @import "content/newsletter";
        @import "content/staff_member";
        @import "content/files";
        @import "content/image_links";
        @import "content/accordion";
        @import "content/staff_grid";
        /* content-blocks */
    }

    /**
     * Sidebar
     */
    .sidebar {
        flex: 3;

        @include breakpoint(to-tablet) {
            padding-top: 20px;
        }

        @import "sidebar/editor";
        @import "sidebar/links";
        @import "sidebar/image_button";
        @import "sidebar/twitter_feed";
        @import "sidebar/image";
        @import "sidebar/staff_member";
        @import "sidebar/divider";
        /* sidebar-blocks */
    }
}
