.events {
    padding: $block-padding;
    background-size: cover;
    position: relative;

    .title {
        border-bottom: 1px solid black;
        display: block;
        text-transform: none;
        padding-right: 100px;

        @include breakpoint(mobile) {
            padding-right: 0;
            padding-bottom: 60px;
        }
    }

    .view-all {
        @include pos($top: -20px, $right: 0);
        transform: translateY(-100%);
        border-radius: 0;
        background-color: black;
        color: white;
        padding: 10px 20px;
        font-weight: 700;

        &:hover {
            color: $gold;
        }
    }
}

.events-content {
    margin: 20px 0;
    position: relative;
}

.events-list {
    display: flex;
    justify-content: center;

    @include breakpoint(to-phablet) {
        display: block;
    }
}

.event {
    flex: 1;
    border: 2px solid $gold;
    margin: 0 20px;
    padding: 20px;

    @include breakpoint(to-phablet) {
        margin: 10px 0;
    }

    &:first-child {
        margin-left: 0;
    }

    &:last-child {
        margin-right: 0;
    }

    h4 {
        color: white;
        margin-top: 0;
    }

    .date, .time {
        @include font-size(17);
        font-weight: 700;
    }
}

/*
* menu hack to fix news menu item highlighted on single event page
 */

.single-event .header {
    .menu-item-20.current_page_parent a {
        border-bottom: none;
    }

    .menu-item-416 a {
        padding-bottom: 5px;
        border-bottom: 3px solid $pomegranate;
    }
}
