.hero-block {
    padding: 5rem 0;
    text-align: center;
    background-size: cover;

    .feature {
        background-color: $pine-cone;
        padding: 10px 50px;
        margin-bottom: 20px;
        display: inline-block;
        border-radius: 40px 0 40px 0;
        @include font-size(20);
        text-transform: uppercase;
        letter-spacing: 4px;
        font-weight: 700;

        @include breakpoint(to-phablet) {
            @include font-size(18);
        }
    }
    .title {
        padding: 0 1.625em 0.625em 1.625em;
        @include font-size(72);

        @include breakpoint(to-tablet) {
            padding: 0 1em 0.5em 1em;
            @include font-size(62);
        }

        @include breakpoint(to-phablet) {
            padding: 0;
            @include font-size(50);
        }

        @include breakpoint(mobile) {
            @include font-size(35);
        }
    }

    .inner {
        width: 60%;
        margin: 0 auto;

        @include breakpoint(to-tablet) {
            width: 80%;
        }

        @include breakpoint(to-phablet) {
            width: 100%;

            @include font-size(15);
        }
    }

    .btns {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30px 0;
    }

    .btn {
        margin: 0 1.5em;
        @include font-size(18);
        border: none;
        position: relative;
        width: 200px;
        height: 80px;
        background: none;
        color: white;

        .btn-label {
            width: 100%;
            text-align: center;
        }

        &:hover {
            color: $pomegranate;
            background: transparent;
        }

        &:after {
            @include pos($right: 8%);
            z-index: -1;
            content: '';
            background-image: url('img/feather-bg.png');
            background-position: center center;
            background-size: contain;
            background-repeat: no-repeat;
            width: 250px;
            height: 80px;
        }
    }
}
