.link-grid {
    padding: $block-padding;
    background-size: cover;

    .title {
        @include font-size(81);
        text-transform: none;
        padding: 40px 0 80px 0;
    }

    .items {
        display: flex;
        flex-wrap: wrap;
    }

    .item {
        flex: 1 1 150px;
        text-align: center;
        font-weight: 700;
        margin: 10px;
        min-width: calc(20% - 20px);

        a {
            display: block;
        }
    }

    .thumbnail {
        min-width: 135px;
    }

    .label {
        padding: 0 10px;
        margin-bottom: 0;
    }
}
