.single-column-flexible {
    background-size: cover;
    padding-top: 2rem;
    padding-bottom: 2rem;

    &.has-accent {
        padding: 0;

        .inner {
            @include breakpoint(from-desktop) {
                padding-right: 30%;
            }

            @include breakpoint(from-desktop-mid) {
                padding-right: 35%;
            }
        }

        .container {
            padding-top: 2rem;
            padding-bottom: 2rem;
        }
    }

    .container {
        background-position: right bottom;
        background-repeat: no-repeat;
        background-size: 30% auto;

        @include breakpoint(to-tablet) {
            background: none !important;
        }
    }
}
