.divider {
    position: relative;
    padding: 10px 0;

    &:before {
        content: '';
        border-top: 1px solid $gray;
        width: calc(65% - 60px);
        @include pos($left: 30px, $top: 50%);
        z-index: 2;
    }
}
