.box {
    padding: 10px 30px;

    .title-block {
        border-bottom: 1px solid $gray;
        position: relative;

        .title {
            @include font-size(26);
            padding-bottom: 20px;
        }

        &:after {
            content: '';
            border-bottom: 5px solid $gold;
            width: 125px;
            @include pos($bottom: -5px);
        }
    }
}
