.image-button {
    text-align: center;
    background-size: cover;
    background-position: center center;
    margin-bottom: 20px;

    .btn {
        padding: 40px 0;
        border: none;
        color: white;
        @include font-size(32);
        text-transform: none;

        &:hover {
            color: $pomegranate;
        }
    }
}
