.links {
    padding: 15px 30px;

    .link-items {
        @include lireset();
        margin-top: 10px;
    }

    .link-item:not(:first-child) {
        padding-top: 0.5em;
    }

    .link-item {
        @include font-size(18);
        font-weight: 700;

        &:before {
            content: '\f067';
            font-family: $font-family-icons;
            font-weight: 300;
            padding-right: 10px;
        }

        a {
            color: white;

            &:hover {
                color: $pomegranate;
            }
        }
    }

    .heading {
        font-size: 1.25rem;
        text-transform: uppercase;
    }
}
