.staff-member {
    padding: 30px;
    font-weight: 700;
    position: relative;

    .staff-top {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
    }
    .staff-photo {
        min-width: 100px;
        margin-right: 10px;

        img {
            display: block;
            @include circle(100);
            min-width: 100px;
        }
    }

    .staff-details {
        padding-bottom: 20px;
        position: relative;

        &:after {
            content: '';
            border-top: 1px solid $gray;
            width: 100%;
            @include pos($bottom: 0);
        }
    }

    .title {
        @include font-size(18);
        background-color: #231F20;
        color: white;
        padding: 10px 20px;
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    .staff-name {
        @include font-size(26);
    }

    .staff-jobtitle {
        font-weight: 400;
    }

    .staff-email,
    .staff-phone {
        @include font-size(17);
        padding: 5px 0;
    }

    .btn-contact {
        display: inline-block;
        background-color: $gold;
        color: $default-text-color;
        padding: 7px 10px;
        @include font-size(17);
        font-weight: 700;
        text-transform: uppercase;
    }

    a:hover {
        color: $pomegranate;
    }
}
