.sidebar-twitter-feed {
    .sidebar-tweet {
        background-color: $gold;
        padding: 1px 16px 0 16px;
        font-weight: 700;

        .posted {
            text-align: center;
            text-transform: uppercase;
            @include font-size(18);
            padding: 10px 0;

            &:before {
                content: '\f007';
                font-family: $font-family-icons;
                padding-right: 10px;
                @include font-size(22);
            }
        }
    }

    .bottom {
        display: flex;
        height: 15px;
        justify-content: space-between;
        background: #ffd000;

        .left,
        .right {
            width: calc(50% - 15px);
            background-color: $gold;
            position: relative;

            &:after {
                content: '';
                width: 0;
                height: 0;
                border-style: solid;
            }
        }

        .left:after {
            border-width: 15px 15px 0 0;
            border-color: #ffd000 transparent transparent transparent;
            @include pos($right: -15px);
        }

        .right:after {
            border-width: 0 15px 15px 0;
            border-color: transparent #ffd000 transparent transparent;
            @include pos($left: -15px);
        }
    }
}

.twitter-follow-link {
    .twitter-link:hover {
        color: $pomegranate;
    }
}
