.banner-default {
    padding: 60px 0;

    @include breakpoint(from-desktop-mid) {
        padding: 100px 0;
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include breakpoint(to-tablet) {
            display: block;
        }
    }

    .logo {
        display: block;
        width: 300px;

        @include breakpoint(to-tablet) {
            margin: 0 auto;
            padding-bottom: 20px;
        }
    }

    .banner-title {
        text-transform: none;
        font-weight: 200;
        @include font-size(26);
        margin: 0;
    }

    .title-container {
        @include breakpoint(from-desktop) {
            max-width: 600px;
        }

        @include breakpoint(from-desktop-mid) {
            max-width: none;
        }
    }
}
