.banner-home {
    padding: 240px 0 340px 0;

    @include breakpoint(to-tablet) {
        padding: 80px 0 160px 0;
    }

    .inner {
        text-align: left;
        width: 50%;

        @include breakpoint(to-desktop-sml) {
            width: 60%;
        }

        @include breakpoint(to-tablet) {
            width: 80%;
        }

        @include breakpoint(to-phablet) {
            width: 100%;
        }
    }

    .logo {
        width: 500px;
        display: block;
        margin-bottom: 20px;

        @include breakpoint(to-phablet) {
            max-width: 100%;
        }

        img {
            width: 100%;
        }
    }

    .title {
        @include font-size(40);
        line-height: 1.2em;
        font-family: $font-family-special;
        font-weight: 400;
        text-transform: none;
        margin-left: 40px;

        @include breakpoint(to-phablet) {
            margin: 0;
            @include font-size(32);
        }

        @include breakpoint(mobile) {
            @include font-size(28);
        }
    }

    .tagline {
        margin-top: 15px;
        margin-left: 40px;
        width: 460px;

        @include breakpoint(to-phablet) {
            max-width: 100%;
            margin: 0;
        }
    }

    .accent-image {
        @include pos($right: 0, $bottom: 0);
        width: 45%;

        @include breakpoint(to-desktop-sml) {
            width: 55%;
        }

        @include breakpoint(to-phablet) {
            display: none;
        }
    }
}

.featured-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: -200px -20px 0 -20px;

    @include breakpoint(to-tablet) {
        margin: -80px 0 0 0;
        padding-bottom: 0;
    }
}

.featured-link {
    display: block;
    flex: 1;
    background: white;
    height: 250px;
    margin: 20px;
    padding: 30px;
    background-size: cover;
    background-position: center center;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;

    @include breakpoint(to-phablet) {
        margin: 10px 0;
        min-width: 100%;
    }

    @include breakpoint(mobile) {
        margin: 10px 0;
    }

    &.large {
        height: 350px;
        margin-bottom: -100px;
        flex: 1.2;
        min-width: 350px;

        @include breakpoint(to-desktop-sml) {
            margin-bottom: 20px;
        }

        @include breakpoint(to-phablet) {
            min-width: calc(100% - 20px);
        }

        h3 {
            margin-top: 10px;
        }
    }

    &.icon-after {
        i {
            margin-left: 0.5em;
            order: 1;
        }
    }

    &.icon-before {
        i {
            margin-right: 0.5em;
        }
    }

    &:hover {
        .link-label {
            color: $dark-gray;
        }
    }
}

.link-title {
    @include font-size(18);
    text-transform: uppercase;
    font-weight: 700;

    h3 {
        @include font-size(35);
        text-transform: none;
        margin: 0;

        @include breakpoint(to-tablet) {
            @include font-size(30);
        }

        @include breakpoint(to-phablet) {
            @include font-size(26);
        }
    }
}

.link-label {
    text-transform: uppercase;
    font-weight: 700;
    @include font-size(18);
    display: flex;
    align-items: center;
    transition: all 0.3s ease-in-out;
}
