.buttons {
    &.btn-yellow {
        .btn {
            background: $gold;
            border-color: $gold;

            &:hover {
                background: white;
                color: $gold;
            }
        }
    }

    &.btn-large {
        margin: 2rem 0;

        .btn {
            font-size: 1.5rem;
            padding: 1rem 2rem;
            letter-spacing: 1px;
        }

        .btn.icon-after i {
            margin-left: 1rem;
        }

        .btn.icon-before i {
            margin-right: 1rem;
        }
    }
}
