.check-grid {
    display: flex;
    flex-wrap: wrap;

    @include breakpoint(from-desktop-mid) {
        padding: 0 3rem;
    }

    .item {
        width: 100%;
        border: 3px solid #C9C9C9;
        min-height: 8rem;
        display: flex;
        align-items: center;
        margin: 1.5rem 0 0 0;
        position: relative;
        font-size: 1.25rem;
        padding: 1rem 1.5rem;
        font-weight: 700;

        @include breakpoint(from-phablet) {
            width: calc(50% - 2rem);
            margin: 2rem 1rem 0 1rem;
            min-height: 10rem;
        }

        @include breakpoint(from-tablet) {
            width: calc(33.3333% - 2rem);
            min-height: 12.5rem;
            padding: 2rem;
        }

        @include breakpoint(from-desktop) {
            width: calc(25% - 2rem);
        }

        @include breakpoint(from-desktop-mid) {
            font-size: 1.5rem;
            padding: 2.5rem;
        }

        &:before {
            content: "\f00c";
            position: absolute;
            font-family: $font-family-icons;
            top: 50%;
            left: 2rem;
            font-weight: 700;
            font-size: 6rem;
            color: #838588;
            opacity: 0.2;
            transform: translateY(-50%);
            z-index: -1;

            @include breakpoint(from-tablet) {
                left: 2.5rem;
                font-size: 7.5rem;
            }
        }
    }
}
