.nested-content-grid {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 2rem 0;

    .item {
        height: 12rem;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1.5rem;
        background-size: cover;
        color: white;
        text-transform: uppercase;
        font-size: 1.25rem;
        width: 100%;
        margin-top: 1rem;

        @include breakpoint(from-phablet) {
            width: calc(50% - 2rem);
            margin-right: 2rem;
        }

        @include breakpoint(from-tablet) {
            width: 19rem;
            flex: auto;
        }

        @include breakpoint(from-desktop-mid) {
            margin-right: 2.5rem;
            padding: 2rem;
            font-size: 1.5rem;
            height: 15rem;
            width: 20rem;
        }

        @include breakpoint(from-desktop-lrg) {
            margin-right: 3rem;
            width: 22.5rem;
        }
    }

    p {
        position: relative;

        &:before {
            content: '';
            width: 30%;
            border-bottom: 0.125rem solid $gold;
            position: absolute;
            bottom: -0.5rem;
            left: 0;
        }
    }

    .far {
        margin-left: 0.5rem;
    }
}
