.icon-grid {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.25rem;
    font-weight: 700;

    @include breakpoint(from-desktop-mid) {
        padding: 0 2rem;
    }

    .item {
        padding: 0 1.125rem;
        width: 100%;
        margin-top: 1.5rem;
        text-align: center;

        @include breakpoint(from-phablet) {
            width: 50%;
        }

        @include breakpoint(from-tablet) {
            width: 33.3333%;
        }

        @include breakpoint(from-desktop) {
            flex: 1;
            width: auto;
            margin-top: 0;
        }

        @include breakpoint(from-desktop-mid) {
            padding: 0 1.5rem;
        }
    }

    .icon {
        height: 6rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 1.5rem;

        @include breakpoint(from-desktop-mid) {
            height: 7.5rem;
            margin-bottom: 0;
        }

        img {
            max-height: 100%;
        }
    }
}
