.slideshow {
    margin: 2rem 0;
    background-size: cover;
    background-position: center;
    color: white;
    position: relative;

    .fixed-title {
        position: absolute;
        top: 2rem;
        left: 50%;
        transform: translateX(-50%);
        background: $gold;
        color: black;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 0.125rem;
        padding: 0.625rem 1.5rem;
        white-space: nowrap;

        @include breakpoint(from-tablet) {
            top: 4.5rem;
        }
    }

    .slides {
        margin: 0;
    }

    .slide {
        background-size: cover;
        background-position: center;
    }

    .inner {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 25rem;
        font-size: 1.25rem;
        text-align: center;
        padding: 6rem 2rem 3rem 2rem;

        @include breakpoint(from-tablet) {
            font-size: 1.5rem;
            min-height: 30rem;
            padding: 6rem 3rem 3rem 3rem;
        }

        @include breakpoint(from-desktop) {
            padding: 8rem 3rem 4rem 3rem;
        }

        @include breakpoint(from-desktop-mid) {
            font-size: 2rem;
        }
    }

    blockquote {
        margin: 0;
        position: relative;
        padding-left: 3.5rem;

        @include breakpoint(from-tablet) {
            padding-left: 4rem;
        }

        &:before {
            content: '\f10d';
            font-family: $font-family-icons;
            position: absolute;
            top: 0;
            left: 0;
            font-size: 2.5rem;
            line-height: 1.6em;
            font-weight: 700;

            @include breakpoint(from-tablet) {
                font-size: 3rem;
            }
        }
    }

    .slick-dots {
        bottom: 1.5rem;

        @include breakpoint(from-tablet) {
            bottom: 2.5rem;
        }

        li button {
            border: 0.125rem solid white;
            border-radius: 99rem;
            background: white;
            width: 16px;
            height: 16px;

            @include breakpoint(from-tablet) {
                width: 20px;
                height: 20px;
            }
        }

        li.slick-active button {
            background: none;
        }

        li button:before {
            display: none;
        }
    }
}
