// Body colour
$default-text-color: #222;

// Site Colours
$ui-scheme-light-text: white;
$ui-scheme-dark-text: $default-text-color;

$pomegranate: #EE3124;
$gold: #FFD200;
$pine-cone: #65574D;
$costa-del-sol: #586C30;
$gray: #8F9194;
$dark-gray: #231F20;

// Social Media
$ui-social-facebook: #3b5998;
$ui-social-twitter: #55acee;
$ui-social-instagram: #8a3ab9;
$ui-social-linkedin: #007bb5;
$ui-social-youtube: #bb0000;
