// Font Awesome
$fa-font-path: "fonts";

// Font Sizes
$font-size-base: 16px;

// Font Families
$font-family-primary: "Lato", sans-serif;
$font-family-secondary: sans-serif;
$font-family-special: "georgia", sans-serif;
$font-family-heading: $font-family-primary;
$font-family-icons: "Font Awesome 5 Pro";

@include fontface("georgia", "georgia");
@include fontface("Lato", "Lato-Regular", 400);
@include fontface("Lato", "Lato-Bold", 700);
